<head>
<title>Postfix Maillog Queue Watcher</title>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/bootflat/2.0.0/css/bootflat.min.css">
</head>

<body>
</body>

<template name="maillog">
    <div class="hero-unit">
        <p class="lead">Mail Log Queue Status</p>
    </div>
<table class="table table-bordered table-condensed">
    <thead>
        <tr><th style="max-width:50px !important;">Status</th><th style="max-width:100px !important">Date</th><th>From</th><th>To</th><th>Last Log Message</th>
        </tr>
    </thead>
    <tbody>
  {{#each logentries}}
  <tr class="{{status}}" title="{{messageid}}" id="link"><td style="max-width:50px !important;">{{status}}</td><td style="max-width:100px !important">{{date}}</td><td>{{from}}</td><td>{{to}}</td>
      <td>{{log_msg}}</td>
  </tr>
  {{/each}}
    </tbody>
</table>
</template>

<template name="traceMessage">
    <div class="hero-unit">
        <p class="lead">Detailed Mail Log Trace</p>
    </div>
<table class="table table-bordered table-condensed">
    <thead>
        <tr><th style="max-width:50px !important;">Status</th><th style="width:120px !important">Date</th><th>From</th><th>To</th><th>Log Message</th>
        </tr>
    </thead>
    <tbody>
  {{#each messageDetail}}
  <tr class="{{status}}"><td style="max-width:50px !important;">{{status}}</td><td style="max-width:100px !important">{{date}}</td><td>{{from}}</td><td>{{to}}</td>
      <td>{{log_msg}}</td>
  </tr>
  {{/each}}
    </tbody>
</table>
</template>


