tr {
    transition: background-color 2000ms linear 0;
    -moz-transition: background-color 2000ms linear 0;
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    -o-transition: all 2.0s ease;
    -ms-transition: all 2.0s ease;
    transition: all 2.0s ease;
}

tr#link {
    cursor:hand;
    cursor:pointer;
}

tr#link:hover {
}

td {
    background-color: #F9F9F9;
    transition: background-color 2000ms linear 0;
    -moz-transition: background-color 2000ms linear 0;
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    -o-transition: all 2.0s ease;
    -ms-transition: all 2.0s ease;
    transition: all 2.0s ease;
}

.sent td {
    background-color: #DFF0D8;
}

.deferred td {
    background-color: #D9EDF7;
}

.bounced td {
    background-color: #F2DEDE;
    font-weight:bold;
}

